// Color variables
$white                    : #FFFFFF;
$black                    : #555555;
$grey-background          : #F7F7F7;
$grey-light               : #C6C6C6;
$red                      : #A94442;
$red-background           : #F2DEDE;
$red-border               : #EBCCD1;
$green                    : #4CAF50;
$blue                     : #2D2DC7;

// General
$text-black               : $black;
$text-border              : $grey-light;

// Searcher
$pagination-active        : $green;
$item-border              : $grey-light;
$item-hover               : $grey-background;

// User page
$text-color               : black;
$info-color               : $blue;
$link-hover               : $red;

// Alerts
$alert-red-text           : $red;
$alert-red-background     : $red-background;
$alert-red-border         : $red-border;
$red-border-button        : #C12727;
