// Color variables
$white                    : #FFFFFF;
$black                    : #3B3A3A;
$grey-background          : #F7F7F7;
$grey-light               : #C6C6C6;
$red-background           : #DB675D;
$red-normal               : #BD392E;
$yellow                   : #EDCD1F;
$blue-green               : #3D5975;

// Home | Searcher

// User page
