@import 'reset';
@import 'utils';
@import 'colors';

@import url(//fonts.googleapis.com/css?family=Open+Sans);
html, body, * {
  font-family: 'Open Sans', sans-serif;
}

[hidden], .hidden {
  display: none !important;
}

[disabled], .disabled {
  opacity: 0.5 !important;
}

input {
  height: 32px;
  padding: 6px 12px;
  color: $text-black;
  border: 1px solid $text-border;
  border-radius: 4px;
  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, .075));
}

button {
  width: auto;
  height: auto;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid $item-border;
  border-radius: 5px;
  &:active,
  &:focus,
  &:visited {
    outline: none !important;
  }
  @include hover {
    cursor: pointer;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.36);
    background-color: $item-hover;
  }
  &.cancel {
    border: 1px solid $red-border-button;
    @include hover {
      background-color: $red-background;
    }
  }
}
